body{
    background-color: skyblue;
    float:left;
}
image{ 
    border-width:5px;
    border-color:black(0, 0, 0);
    border-style: solid;
    border-radius:45px;
}
p { 
    font-family:cursive;
}
h2{ 
    color:White;
}
